# Mandatory for all methods (don't change transformers and deepspeed version)
ftfy
xformers
packaging
pytest
webdataset
iopath
deepspeed==0.8.1
torchvision
ptflops
regex
pycocoevalcap
transformers==4.33.0
tqdm
einops
scikit-learn
logger
protobuf
timm

# Additional for M2_Encoder model (don't change specific version mentioned)
tensorboardX
boto3
demjson3
torchtext
GitPython
pytest-timeout
pytest-cov
pytest-filter-subpackage
PyHamcrest
sentencepiece
opencv-python
librosa
xlrd
editdistance
nltk
torchsummary
yacs
lmdb
omegaconf
jsonlines
Faker
rouge
decord==0.6.0
deprecated
wget
sphinx
pydata_sphinx_theme
sphinx_automodapi
sphinx_copybutton
sphinx_panels
pytorchvideo==0.1.5
jieba
spacy
pandas
pytorch_lightning==1.9.2
ipdb
pyarrow
sacred
torchaudio
fairscale
pyomo
openspg-nn4k==0.0.2b3
modelscope
